# PHPUnit
var/
vendor/
.idea/
.phpunit.cache/
/.idea/
/.vscode/
/tests/_output/
/tests/build/
/tests/coverage/
/var/
/vendor/
composer.lock
.php-cs-fixer.cache
.phpunit.result.cache
phpunit.xml
.DS_Store
/.phpunit.result.cache
/composer.lock
/coverage.xml
*.cache
*.log
*.report
*.tmp
